* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

#app {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(230, 236, 243);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
}

.body-text {
    text-align: center;
    font-weight: 600;
}

.rounded-img {
    outline: 5px solid rgb(181, 243, 245);
    border-radius: 50%;
    display: block;
    margin: 50px auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.349);
    cursor: pointer;
    transition: 300ms all;
}

.rounded-img:hover {
    transform: scale(102%);
    outline: 10px solid rgb(186, 245, 181);
}

.rounded-img:active {
    transform: scale(95%);
    outline: 25px solid rgb(234, 181, 245);
}


.test-box {
    border: 3px solid rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    flex-grow: 1;
    margin: 20px;
    position: relative;
}