:root {
    --primary-color: rgb(108, 147, 156);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

#app {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(230, 236, 243);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-text, .body-text {
    color: var(--primary-color);
}

.header-text {
    text-align: center;
    text-transform: uppercase;
}

.body-text {
    text-align: center;
    font-weight: 600;
}

.rounded-img {
    outline: 5px solid rgb(181, 243, 245);
    max-width: 300px;
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: block;
    margin: 50px auto;
    cursor: pointer;
    transition: 300ms all;
}

.rounded-img:hover {
    transform: scale(102%);
    outline: 10px solid rgb(186, 245, 181);
}

.rounded-img:active {
    transform: scale(95%);
    outline: 25px solid rgb(234, 181, 245);
}

.test-box,
button {
    color:var(--primary-color)
}

.test-box {
    border: 5px solid;
    border-radius: 15px;
    flex-grow: 1;
    margin: 20px;
    position: relative;
}

button {
    transition: 100ms all;
    background-color: transparent;
    border: 2px solid;
}

button:hover {
    transform: scale(105%);
}

button:active {
    transform: scale(98%);
}

img,
button,
.test-box {
    filter: drop-shadow(5px 8px 8px rgba(0, 0, 0, 0.2));
}